@charset "UTF-8";

/* リセット */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* すべてのページに適用される設定 */
html{
	font-size: 20px;
	font-family: "うずらフォント";
}

*{
	box-sizing: border-box;
}

body{
	margin: 0 0 0 0;
}

.theme{
	margin: 8% 10% 6% 10%;
	font-size: 1.6rem;
	font-family: sans-serif;
	font-weight: bold;
}

p,li,td{
	line-height: 1.7;
}

li{
	list-style-type: none;
	padding-top: 0;
}


img{
	max-width: 100%;
}

/*すべてのページに適用 - ヘッダー*/
#id p{
	margin:10px 0px 0px 10px;
}

.title{
	background-color: #2f4f4f;
}

.title h1 {
	margin-bottom: 0;
	color: #FFFFFF;
	font-size: 4rem;
	font-family: Indenture English Penman demo;
	text-align: center;
}

.title img{
	margin: 0% 20% 60% 40%;
	width: 10%;
	position: fixed;
	transition: all 0.3s ease-out;
}

.title a:hover img{
	transform: scale(1.1);
}

a:link{
	color: #ffffff;
	text-decoration: none;
}

a:visited{
	color: #FFFFFF;
	text-decoration: none;
}

a:hover{
	color: #ffffff;
	text-decoration: none;
}

a:active{
	color: #FFFFFF;
	text-decoration: none;
}

.mayPage{
	text-decoration: underline;
}

/* ナビの設定 */

.nav ul{
	background-color: transparents;

}
.nav ul, .nav li{
	margin: 0px 0 0 0;
	padding: 10px 0 5px 0;
	list-style-type: none;

	display: flex;
	justify-content: center;
	gap: 200px;

	/*アニメーションの速度設定*/
	transition: all 0.5s ease-out;
}

.nav a::after {
	/*アンダーラインのスタイル*/
	position: absolute;
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #FFFFFF;
	bottom: 0px;
	left: 0;
	/*横方向で非表示にする*/
	transform: scale(0, 1);
	/*中央を基点にアニメーション*/
	transform-origin: center top;
	/*アニメーションの速度設定*/
	transition: all 0.5s ease;
}

.nav a:visited{
	color: #FFFFFF;
}

.nav a:hover{
	color: #ffffff;
	text-decoration: none;
	/*1.1倍に拡大*/
	transform: scale(1.1);
}

.nav a:hover::after {
	/*横方向倍まで拡大*/
	transform: scale(2, 1);
}

.nav a:active{
	color: #ffffff;
	text-decoration: none;
}

/* すべてのページに適用 - 背景 */

.title{
	position: relative;
}

.top_bg{
	margin-top: 0;
	padding-top: 15px;
	padding-bottom: 55px;
	background-image: url(/myBC/img/leaves.png);
	background-repeat: repeat-x;
	/* position: absolute; */
}

.bg{
	padding: 0 0 200px 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #ffffff;
	text-align: center;
}

.bg.login{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/myBC/img/login_bg.jpg);
    background-size: cover;
}

.bg.home{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/myBC/img/home_bg.jpg);
    background-size: cover;
}

.bg.regist{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/myBC/img/regist_bg.jpg);
    background-size: cover;
}

.bg.search{
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(/myBC/img/search_bg.jpg);
    background-size: cover;
}

.bg.search_result{
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(/myBC/img/search_result_bg.jpeg);
    background-size: cover;
}

.bg.edit{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/myBC/img/edit_bg.jpg);
    background-size: cover;
}

.bg.result{
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(/myBC/img/result_bg.jpg);
    background-size: cover;
}

.bg.userRegist{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/myBC/img/userRegist_bg.jpg);
    background-size: cover;
}

.bg.restore{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/myBC/img/restore_bg.jpg);
    background-size: cover;
}

.bg.myPage{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/myBC/img/myPage_bg.jpg);
    background-size: cover;
}

/* 時計の設定 */
#clock{
	color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.10);
    border: 2px solid #FFFFFF;
	border-radius: 3%;
    position: fixed;
	margin: 260px 0 10px 10px;
    padding: 5px 25px 0px 30px;
	width: 200px;
	height: 120px;
}

#ymd{
	margin: 0% 0% 0% 0%;
	padding: 10px 0 0 0;
	font-size: 0.8rem;
	font-family: DJB Get Digital;
}

#time{
	display: flex;
	font-family: DJB Get Digital;
}

#time_hm{
	margin: 0 0 0 0;
	padding: 0 3px 0 10px;
	font-size: 2.4rem;
	height: 20px;
}

#time_s {
    font-size: 0.8rem;
    margin: 24% 0 0 3px;
	padding: 0 3px 0 5px;
}

/* すべてのページに適用 - メイン */

main{
	margin: 90px auto 90px auto;
	max-width: 1000px;
	color: #ffffff;
}

main h2{
	margin: 60px 0 20px 0;
	border-bottom: 2px solid #ffffff;
	padding: 0 0 5px 0;
	color: #ffffff;
	font-size: 1.3rem;
}

.red{
	color: #FF0000;
}

#back {
	display: block;
	margin-top: 120px;
}

#back:link{
	text-decoration: underline;
}

#back:visited{
	text-decoration: underline;
}

#back:hover{
	text-decoration: underline;
}

#back:active{
	text-decoration: underline;
}

/* すべてのページに適用 - フッター */
footer a{
	position: fixed;
	bottom: 20px;
	right: 20px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.gotop{
	width: 15px;
	height: 15px;
	border-top: 3px solid white;
	border-right: 3px solid white;
	transform: rotate(-45deg)
}

.copyright{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #2f4f4f;
	color: #FFFFFF;
	text-align: center;
}

/* 個別のスタイル */

/* アラートボックス */
.confirmBox, .alertBox, .confirmBox_delete{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	height: 300px;
	width: 500px;
    padding: 55px 40px 40px 40px;
    background-color: white;
    border: 3px solid #2f4f4f;
	border-radius: 5%;
    z-index: 1000;
	color: #2f4f4f;
}

.confirmBox h3, .alertBox h3, .confirmBox_delete h3{
	font-size: 1.3rem;
	font-weight: bold;
	font-family: "うずらフォント";
}
.confirmBox p, .alertBox p, .confirmBox_delete p{
	font-size: 1rem;
	/* font-weight: bold; */
	font-family: "うずらフォント";
	padding: 5% 0 8% 0;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* login.html*/
#resetBtn{
	margin-left: 80px;
}

.loginForm{
	text-align:center;
}

/* home.html */
.balloon{
	display: grid;
    place-items: center;
    margin: 0 20px 0px 1200px;
    width: 200px;
    height: 200px;
    color: #2f4f4f;
    border-radius: 100% 0% 100% 100%;
    background-color: #FFFFFF;
    position: fixed;
    font-size: 0.8rem;
}

.bold {
	font-size: 1rem;
}

/*search.result*/

table{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

a.card{
	display: block;
	position:relative;
	top:0;
	padding: 70px 25px 50px 10px;
	margin: auto;
	width: 650px;

	border: 1px solid rgba(255, 255, 255, 0.80);
	border-collapse: collapse;
	border-radius: 3px;

	background-color: rgba(255, 255, 255, 0.80);
	color: #424242;

	font-family: serif;
	font-size: 0.8rem;

	transition: all .1s ease-out;
}
.card:hover{
	top:-5px;
	border: 3px solid rgba(255, 255, 255, 0.80);
}
.company{
	margin: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 23px;
}
.department{
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}
.position{
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}
.name{
	margin: 20px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}
.address{
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}
.phone{
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}
.email{
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}
.remarks{
	margin-top: 10px;
	text-align: center;
}
.date{
	text-align: right;
	margin-top: 20px;
}
.heading{
	font-size: 15px;
	font-weight: normal;
}

.glass {
	 font-size: 1.7em;
	 padding: 5px;
	 transition: all 0.3s ease-out;
}

.glass :hover {
	transform: scale(1.1);
}

/* search_result.html */

.trashBox {
	display: block;
	margin-top: 120px;
	padding: 5px;
	font-size: 2em;
	transition: all 0.3s ease-out;
}

.trashBox :hover {
	transform: scale(1.1);
}


/* result.html*/
.resMsg {
	background-color: rgba(255, 255, 255, 0.80);
	color: #2f4f4f;
	width: 500px;
	padding: 50px 0px;
	margin: auto;
}

/* myPage.html */
.myPageIntro {
	margin-bottom: 50px;
}

/* form */
form {
	padding: 6px;
	margin: auto;
	color: #ffffff;
  }

  .list{
	margin: 0 40% 0 20%;
  }

  input[name="id"], input[name="userName"]{
	width: 19em;
	height: 3em;
	border-radius: 10px;
	margin: 0px 15px 15px 10px;
	padding: 10px;
  }

  .userRegistPw{
  	width: 19em;
	height: 3em;
	border-radius: 10px;
	margin: 0px 15px 17px 10px;
	padding: 10px;
  }

  .loginPw{
  	width: 19em;
	height: 3em;
	border-radius: 10px;
	margin: 0px 15px 50px 10px;
	padding: 10px;
  }

  .button{
	width: 6em;
	border-radius: 100vh;
	margin: 10px;
	padding: 10px;
	width: 100px;
	height: 50px;

	background-color: #c8c8c8;
	color: #2f4f4f;
	font-size: 1rem;
	font-family: "うずらフォント";

	border: 1px solid #c8c8c8;
  	border-bottom: 5px solid #808080;
  }

  .button:hover {
  color: #FFFFFF;
  background: #2f4f4f;

  border: 1px solid #2f4f4f;
  border-bottom: 3px solid #1e3333;
}

  #bcInf{
  	margin: auto;
  }

  .bcInf{
  	border-radius: 10px;
  	padding: 15px;
  	margin: 20px;
  }

   input[name="freeWord"]{
	width: 25em;
  }

   input[name="company"]{
	width: 20em;
  }

   input[name="name"]{
	width: 20em;
  }

   input[name="department"]{
	width: 20em;
  }

  input[name="position"]{
	width: 20em;
  }

  input[name="zipcode"]{
	width: 10em;
	height: 2.5em;
  	padding: 15px;
  	margin-top: 30px 20px 10 px 10px;
	border-radius: 10px;
  }

  input[name="address"]{
	width: 35em;
	height: 5em;
	padding: 15px;
	margin: 10px 20px 20px 20px;
	border-radius: 10px;
  }

  input[name="phone"]{
	width: 30em;
  }

  input[name="fax"]{
	width: 30em;
  }

  input[name="email"]{
	width: 30em;
	margin-bottom: 30px;
  }

  #remarks{
	vertical-align: middle;
  }

  textarea.bcInf{
	width: 41em;
	height: 10em;
	border-radius: 10px;
	padding: 20px;
	margin:30px 20px 20px;
	font-family: san-serif;
  }

  input[name="search"], input[name="regist"], input[name="login"], input[name="resetBtn"], input[id="update"], input[id="delete"] {
  	margin-top: 80px;
  	margin: 80px 90px 0px;
  }