@charset "UTF-8";


/* コンテンツ情報----------------------------------- */
/*配置*/
.content-info {
    display: flex;
    justify-content: space-between;
}

/*コンテンツ情報配置*/
.column{
    position: relative;
    left: -2%;
    margin-top: 2.5%;
}

/* コンテンツ画像 */
img[name=content-img] {
    width: 180px;
    height: 200px;
    margin: 30px 0px 0px 200px;
}

/* コンテンツタイトル */
h2[name=content-title] {
    color: #545454;
    font-size: 40px;
    margin-bottom: 10px;
}

/* タイトル以下コンテンツ詳細情報 */
h3 {
    color: #545454;
    margin: 0%;
}

/* ボタン */
button[name=submit] {
    display: flex;
    align-items: center;
    height: 45px;
    border: none;
    margin: 30px 250px 0px 30px;
    padding: 5px 20px 0px 20px;
    width: 260px;
    color: #ffffff;
    background-color: #35AFDB;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
}

/* ボタン内の画像 */
.bt img {
    width: 30px;
    height: 30px;
    margin-right: 7px;
    margin-bottom: 5px;
}

/*タブ内-------------------------------------------*/
/*リスト先頭の丸を削除*/
li{
    list-style: none;
}

/*タブの形状*/
#tab{
    display: flex;
    margin-top: 40px;
    margin-left: 52.8px;
}

#tab a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cfcfcf;
    border-radius: 10px 10px 0 0;
    width: 700px;
    height: 50px;
    color: #545454;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

/* 選択されたタブのスタイル */
#tab a.selected {
    background-color: #ffffff;
    border-color: #ffffff;
}

.tab-content {
    display: none;
    border: 1px solid #ffffff;
    margin: 0px auto 20px auto;
    padding: 1em;
    background-color: #ffffff;
    overflow-y: scroll;
    height: 500px;
    width: 1380px;
}

.tab-content.active {
    display: block;
}

/* 並び替えセレクトボックス */
.select{
    margin: 0 0 10px 20px;
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

/* レビュー内ボタンのスタイル */
.review-button {
    display: flex;
    margin: -50px 0 150px 800px;
}

.review-button .button{
    display: flex;
    padding: 8px;
    border: 1px solid #545454;
    background-color: #ffffff;
    align-items: center;
    border-radius: 10px;
    margin: 20px 0 0 30px;
    cursor: pointer;
}

.review-button img{
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

/*レビュー一覧*/
.reviewBar{
    margin: 5px 20px 5px 20px;
    height: 244px;
    width: 1323px;
    border: #CFCFCF solid 2px;
    border-radius: 10px;
}

.review{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.review-img{
    height: 200px;
    width: 180px;
    margin-bottom: 10px;
}

.review-time{
    margin-left: 50px;
    font-size: 0.8rem;
}

.review p {
    margin-bottom: 180px;
    margin-left: 30px;
    margin-right: -90px;
}

.review-title {
    margin-bottom: 300px;
    margin-left: 240px;
    margin-top: -180px;
}

.review-text{
    margin-top: -280px;
    margin-left: 240px;
    margin-right: 20px;
    max-width: 100%;
}

/* ハートアイコン */
.good{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.heart {
    width: 30px;
    height: 30px;
    padding-right: 4px;
    margin-left: 1230px;
    cursor: pointer;
}

/*レビュー新規登録ボタン*/
.floating-button {
    position: fixed; /* 固定位置 */
    bottom: 40px; /* 画面下からの距離 */
    right: 40px; /* 画面右からの距離 */
    z-index: 1000; /* 他の要素の上に表示 */
}

.floating-button img {
    display: block;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

/*他ユーザのレビュー*/
.users-info{
    display: flex;
    align-items: center;
    margin: -185px 0 0 20px;
}
.users-info img{
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 100%;
}


/*モーダル関連----------------------------------------------------*/
/*レビュー新規登録モーダル*/
.modal-review-regist {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-review-regist .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 80%;
    border-radius: 10px;
}

.modal-review-regist .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
}

.modal-review-regist .close:hover,
.modal-review-regist .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-review-regist .btn {
    display: block;
    margin: 10px 18px 10px 18px;
    padding: 20px 60px 20px 50px;
    width: 255px;
    color: #ffffff;
    background-color: #35AFDB;
    font-size: 1.2em;
    border-radius: 20px;
    position: absolute;
    left: 600px;
}

.modal-review-regist .btn:hover {
    background-color: #35AFDB;
}

.modal-review-regist .modal-title {
    font-size: larger;
    text-align: center;
    font-weight: bold;
}

.modal-review-regist input[name=review-title]{
    border: 1px solid #ccc;
    height: 3em;
    width: 100%;
    margin: 10px 0 10px 70px;
    background-color: #dcdcdc;
    padding: 20px;
}

.modal-review-regist input[name=upload] {
    border: 1px solid #545454;
    font-size: 0.8em;
    margin: 30px 5px 0px 5px;
    padding: 10px 280px 10px 10px;
    width: 190px;
    height: 50px;
    color: #545454;
    background-color: #ffffff;
    border-radius: 10px;
}

.modal-review-regist #review-detail{
    font-family: sans-serif;
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    background-color: #dcdcdc;
    padding: 20px;
    margin: 10px 0 10px 70px;
}

.modal-review-regist #preview{
    margin:0 40px 0 60px;
}

.modal-review-regist .review-img{
    display: flex;
}

.modal-review-regist .modal-content .delete-button{
    margin: -100px 10px 65px 380px;
}

/*レビュー編集モーダル*/
.review-edit-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.review-edit-modal .modal-content {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 80%;
    border-radius: 10px;
}

.review-edit-modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
}

.review-edit-modal .close:hover,
.review-edit-modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.review-edit-modal .btn {
    display: block;
    margin: 10px 18px 10px 18px;
    padding: 20px 60px 20px 50px;
    width: 255px;
    color: #ffffff;
    background-color: #35AFDB;
    font-size: 1.2em;
    border-radius: 20px;
    position: absolute;
    left: 600px;
}

.review-edit-modal .btn:hover {
    background-color: #35AFDB;
}

.review-edit-modal .modal-title {
    font-size: larger;
    text-align: center;
    font-weight: bold;
}

.review-edit-modal input[name=review-title]{
    border: 1px solid #ccc;
    height: 3em;
    width: 100%;
    margin: 10px 0 10px 70px;
    background-color: #dcdcdc;
    padding: 20px;
}

.review-edit-modal input[name=upload] {
    border: 1px solid #545454;
    font-size: 0.8em;
    margin: 30px 5px 0px 5px;
    padding: 10px 280px 10px 10px;
    width: 190px;
    height: 50px;
    color: #545454;
    background-color: #ffffff;
    border-radius: 10px;
}

.review-edit-modal #review-detail{
    font-family: sans-serif;
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    background-color: #dcdcdc;
    padding: 20px;
    margin: 10px 0 10px 70px;
}

.review-edit-modal #preview{
    margin:0 40px 0 60px;
}

.review-edit-modal .review-img{
    display: flex;
}

.review-edit-modal .modal-content .delete-button{
    margin: -100px 10px 65px 380px;
}

.review-edit-modal .true-text{
    font-size: larger;
    text-align: center;
    font-weight: bold;
}

#review-edit-modal2 .modal-content{
    width: 30%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#review-edit-modal2 .close{
    position: absolute;
    left: 63.5%;
    margin-top: -8%;
}


/* チャットモーダルのスタイル */
/* モーダルのスタイル */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 85%;
  border-radius: 13px;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
  margin-bottom: 125px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}


#chat-container {
  background-color: #ffffff;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 75vh;
}

.messages {
  flex: 1;
  height: 100px;
  padding: 20px;
  overflow-y: auto;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.input-area {
  display: flex;
  padding: 10px;
  border-top: 1px solid #cccccc;
  background-color: #f9f9f9;
}

.input-area input[type="text"] {
  flex: 1;
  height: 40px;
  width: 250px;
  padding: 5px;
  background-color: #e6e6e6;
  border: 1px solid #cccccc;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 16px;
}

.chat-submit {
  height: 40px;
  width: 80px;
  border: none;
  background-color: #35AFDB;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
.chat-submit:hover {
  background-color: #CFCFCF;
  color: #545454;
}

/* 画像アップロードボタン */
.button0 {
  margin-right: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#file-button {
  display: none;
}

.point{
  height: 30px;
  width: 30px;
}

.sent-message {
  align-self: flex-end;
}

.received-message {
  align-self: flex-start;
}

.sent-message .message-time {
  font-size: 0.8em;
  color: #888;
}

.received-message .message-time {
  font-size: 0.8em;
  color: #888;
}

.sent-message .message-content {
  background-color: #54A3BF;
  color: #FFFFFF;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 5px 0 10px 0;
  max-width: 60%;
  word-wrap: break-word;
}

.received-message .message-content {
  background-color: #ffffff;
  color: #545454;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 5px 0 10px 0;
  max-width: 60%;
  word-wrap: break-word;
}


.system-message {
  background-color:  #CEE9EF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px 0;
  align-self: center;
  max-width: 60%;
  word-wrap: break-word;
  text-align: center;
}
.user-info{
  display: flex;
}

.chat-icon{
  margin-bottom: 12px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background:transparent;
}

.chat-name{
  display: block;
  margin: 10px 5px 5px 30px;
  font-size: 1.3rem;
  font-weight: bold;
}

.chat-icon-button{
	background:transparent;
}

