@charset "UTF-8";


/* コンテンツ情報----------------------------------- */
/*配置*/
.content-info {
    display: flex;
    justify-content: space-between;
}

/*コンテンツ情報配置*/
.column{
    position: relative;
    left: -2%;
    margin-top: 2.5%;
}

/* コンテンツ画像 */
img[name=content-img] {
    width: 180px;
    height: 200px;
    margin: 30px 0px 0px 200px;
}

/* コンテンツタイトル */
h2[name=content-title] {
    color: #545454;
    font-size: 40px;
    margin-bottom: 10px;
}

/* タイトル以下コンテンツ詳細情報 */
h3 {
    color: #545454;
    margin: 0%;
}

/* ボタン */
button[name=submit] {
    display: flex;
    align-items: center;
    height: 45px;
    border: none;
    margin: 30px 250px 0px 30px;
    padding: 5px 20px 0px 20px;
    width: 260px;
    color: #ffffff;
    background-color: #35AFDB;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
}

/* ボタン内の画像 */
.bt img {
    width: 30px;
    height: 30px;
    margin-right: 7px;
    margin-bottom: 5px;
}

/*タブ内-------------------------------------------*/
/*リスト先頭の丸を削除*/
li{
    list-style: none;
}

/*タブの形状*/
#tab{
    display: flex;
    margin-top: 40px;
    margin-left: 52.8px;
}

#tab a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cfcfcf;
    border-radius: 10px 10px 0 0;
    width: 700px;
    height: 50px;
    color: #545454;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

/* 選択されたタブのスタイル */
#tab a.selected {
    background-color: #ffffff;
    border-color: #ffffff;
}

.tab-content {
    display: none;
    border: 1px solid #ffffff;
    margin: 0px auto 20px auto;
    padding: 1em;
    background-color: #ffffff;
    overflow-y: scroll;
    height: 500px;
    width: 1380px;
}

.tab-content.active {
    display: block;
}

/* 並び替えセレクトボックス */
.select{
    margin: 0 0 10px 20px;
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

/* レビュー内ボタンのスタイル */
.review-button {
    display: flex;
    margin: -50px 0 150px 800px;
}

.review-button .button{
    display: flex;
    padding: 8px;
    border: 1px solid #545454;
    background-color: #ffffff;
    align-items: center;
    border-radius: 10px;
    margin: 20px 0 0 30px;
    cursor: pointer;
}

.review-button img{
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

/*レビュー一覧*/
.reviewBar{
    margin: 5px 20px 5px 20px;
    height: 244px;
    width: 1323px;
    border: #CFCFCF solid 2px;
    border-radius: 10px;
}

.review{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.review-img{
    height: 200px;
    width: 180px;
    margin-bottom: 10px;
}

.review-time{
    margin-left: 50px;
    font-size: 0.8rem;
}

.review p {
    margin-bottom: 180px;
    margin-left: 30px;
    margin-right: -90px;
}

.review-title {
    margin-bottom: 300px;
    margin-left: 240px;
    margin-top: -180px;
}

.review-text{
    margin-top: -280px;
    margin-left: 240px;
    margin-right: 20px;
    max-width: 100%;
}

/* ハートアイコン */
.good{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.heart {
    width: 30px;
    height: 30px;
    padding-right: 4px;
    margin-left: 1230px;
    cursor: pointer;
}

/*レビュー新規登録ボタン*/
.floating-button {
    position: fixed; /* 固定位置 */
    bottom: 40px; /* 画面下からの距離 */
    right: 40px; /* 画面右からの距離 */
    z-index: 1000; /* 他の要素の上に表示 */
}

.floating-button img {
    display: block;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

/*他ユーザのレビュー*/
.users-info{
    display: flex;
    align-items: center;
    margin: -185px 0 0 20px;
}
.users-info img{
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 100%;
}


/*モーダル関連----------------------------------------------------*/
.modal-review-regist {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-review-regist .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 80%;
    border-radius: 10px;
}

.modal-review-regist .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
}

.modal-review-regist .close:hover,
.modal-review-regist .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-review-regist .btn {
    display: block;
    margin: 10px 18px 10px 18px;
    padding: 20px 60px 20px 50px;
    width: 255px;
    color: #ffffff;
    background-color: #35AFDB;
    font-size: 1.2em;
    border-radius: 20px;
    position: absolute;
    left: 600px;
}

.modal-review-regist .btn:hover {
    background-color: #35AFDB;
}

.modal-review-regist .modal-title {
    font-size: larger;
    text-align: center;
    font-weight: bold;
}

.modal-review-regist input[name=review-title]{
    border: 1px solid #ccc;
    height: 3em;
    width: 100%;
    margin: 10px 0 10px 30px;
    background-color: #dcdcdc;
    padding: 20px;
}

.modal-review-regist input[name=upload] {
    border: 1px solid #545454;
    font-size: 0.8em;
    margin: 30px 5px 0px 5px;
    padding: 10px 240px 10px 10px;
    width: 190px;
    height: 50px;
    color: #545454;
    background-color: #ffffff;
    border-radius: 10px;
}

.modal-review-regist #review-detail{
    font-family: sans-serif;
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    background-color: #dcdcdc;
    padding: 20px;
    margin: 10px 0 10px 30px;
}

.modal-review-regist #preview{
    margin:0 40px 0 60px;
}

.modal-review-regist .review-img{
    display: flex;
}

.modal-review-regist .modal-content .delete-button{
    margin: -100px 10px 65px 380px;
}
