@charset "UTF-8";
/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 150%;
  overflow: auto;
  text-align: center;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);

}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 50%;
  border-radius: 13px;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
  margin-bottom: 125px;
}

.modal1-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 50%;
  border-radius: 13px;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
  margin-bottom: 125px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}

/* ポスト */
.ppost{
  text-align: center;
  font-family: "Yu Gothic", "游ゴシック体", YuGothic, "游ゴシック Medium", "メイリオ", Meiryo, sans-serif; /* ゴシック体のフォントを優先的に指定 */
  font-size: 2em;
  font-weight: bold; /* 太くする */
  margin-top: 5px;
  margin-left: 6px;

}
.modalhed{
  text-align: center;
  font-size: 170%;
}

input[name=submit] {
  border: none;
  margin: 10px 30px 20px 30px;
  padding: 40px 30px 40px 30px;
  width: 400px;
  color: #ffffff;
  background-color: #35AFDB;
  font-size: 1.5em;
  border-radius: 20px; /*ボタンの角を丸くする*/
  font-weight: bold; /* 太くする */
  font-family: "Yu Gothic", "游ゴシック体", YuGothic, "游ゴシック Medium", "メイリオ", Meiryo, sans-serif; /* ゴシック体のフォントを優先的に指定 */
}

input[name=submit3] {
  border: none;
  margin: 15px 30px 10px 30px;
  padding: 40px 30px 40px 30px;
  width: 400px;
  color: #545454;
  background-color: #CFCFCF;
  font-size: 1.5em;
  border-radius: 20px; /*ボタンの角を丸くする*/
  font-weight: bold; /* 太くする */
  font-family: "Yu Gothic", "游ゴシック体", YuGothic, "游ゴシック Medium", "メイリオ", Meiryo, sans-serif; /* ゴシック体のフォントを優先的に指定 */
}

input[name=submit1] {
  border: none;
  margin: 0px 20px 10px 20px;
  padding: 10px 20px 10px 20px;
  width: 230px;
  color: #ffffff;
  background-color: #35AFDB;
  font-size: 1.2em;
  font-weight: bold; /* 太くする */
  border-radius: 10px; /*ボタンの角を丸くする*/
}

input[name=submit5] {
  border: none;
  margin: 10px 20px 10px 20px;
  padding: 10px 20px 10px 20px;
  width: 230px;
  color: #545454;
  background-color: #CFCFCF;
  font-size: 1.2em;
  font-weight: bold; /* 太くする */
  border-radius: 10px; /*ボタンの角を丸くする*/
}



input[name=interestBtn2] {
  text-align: center;
  border: none;
  margin: 10px 20px 10px 20px;
  padding: 10px 20px 10px 20px;
  width: 60px;
  color: #ffffff;
  background-color: #35AFDB;
  font-size: 0.8em;
  border-radius: 20px; /*ボタンの角を丸くする*/
  width: 120px;
  height: 40px;
  margin: 0px -230px 5px 0px;
}

/* テキスト入力欄 */
input[name=title] {
 border: 1px solid #dcdcdc;
    height: 4em;
    width: 37em;
    margin: 3px 5px;
    background-color: #dcdcdc;

}

.textbox{
  border: 1px solid #ccc;
    height: 17.5em;
    width: 31.5em;
    margin: 3px 5px;
    background-color: #dcdcdc;
}
.textbox1{
  border: 1px solid #ccc;
  height: 3em;
  width: 31em;
  margin: 3px 5px;
  background-color: #dcdcdc;
  /*border-radius: 10px; /*四角の角を丸くする*/
}

textarea{
	font-family:san-serif;
	font-size: 15px;
	padding: 10px;
}

.modaltitle{
  text-align: left;
  height: 3px;
  width: 38em;
  margin: 3px 5px;
}
.modaltext{
text-align: left;
height: 3em;
width: 38em;
margin: 3px 5px;
}

/* ボックス */
.box1 {
  padding: 10px;
  margin: 5px 20px;
  font-weight: bold;
  border: solid 3px #545454;
  width:510px;
  height:350px;
  text-align:left;
}

.box2 {
  margin: 5px 40px;
  border: solid 3px #545454;
}

/* タブ */
#tabcontrol a {
  margin-top: 0px;
  line-height: 2.5em;
  height: 20px;
  width: 232px;
  display: inline-block;
  /* インラインブロック化 */
  border-width: 1px 1px 0px 1px;
  /* 下以外の枠線を引く */
  border-style: solid;
  text-align: center;
  /* 枠線の種類：実線 */
  border-color: white;
  /* 枠線の色：黒色 */
  padding: 10px 30px 30px 0px;
  /* 内側の余白 */
  text-decoration: none;
  /* リンクの下線を消す */
  color: #545454;
  font-size:18px;
  font-weight:bold;
  /* 文字色：黒色 */
  background-color: #CFCFCF;
  /* 背景色：白色 */
  position: relative;
  /* JavaScriptでz-indexを調整するために必要 */
}

/*必須*/
#tabcontrol a.selected {
  background-color: white;
}

/*必須*/
.area.selected {
  display: block;
}


.area {
  border: 1px solid white;
  /* 枠線：黒色の実線を1pxの太さで引く */
  margin: -16px 10px 0px 10px;
  /* 上側にあるタブと1pxだけ重ねるために「-1px」を指定 */
  padding: 5px;
  /* 内側の余白量 */
  background-color: white;
  /* 背景色：白色 */

  /* z-indexを調整するために必要 */

  /* 重なり順序を「最も背面」にするため */
  overflow: scroll;
  height: 320px;
  width: 500px;
  display: none;
  margin-top: 2px;
}


a[href="#tabpage2"] {
  margin: 0px 0px 0px -10px;
  display: none;
}

.contents {
  border: 1px solid #545454;
  border-radius: 10px;
  gap: 5px;
  margin: 10px;
  padding: 10px 20px 3px 20px;
  height: 100px;
  width: 430px;
  text-align: left;
}


/*  気になる！ボタンのスタイル */
#interestBtn{
	  text-align: center;
	  border: none;
	  padding: 10px;
	  color: #ffffff;
	  font-size: 0.8em;
	  border-radius: 20px; /*ボタンの角を丸くする*/
	  width: 120px;
	  height: 35px;
	  margin-left: 70%;
}

.interestBtn1{
  border: none;
  margin: 10px 20px 10px 20px;
  padding: 10px 20px 10px 20px;
  width: 230px;
  color: #545454;
  font-size: 1.2em;
  font-weight: bold; /* 太くする */
  border-radius: 10px; /*ボタンの角を丸くする*/
}

/* 受け取り画面のスタイル */
.receive-title{
	backgraound: transparent;
	width:33rem;
	height:1rem;
	margin:20px;
}
.receive-recommend{
	backgraound: transparent;
	width:33rem;
	height:60rem;
	margin-left:20px;
}
