html {
    font-size: 16px;
    font-family: sans-serif;
}

body {
    background-color: #F1EEDC;
}

main {
    height: 50%;
    /* 画面の半分の高さ */
    display: flex;
    flex-direction: row;
    /* 横並び */
    justify-content: space-around;
    /* 中央に配置 */
    align-items: center;
    /* 中央に配置 */
}

.nav ul {
    background-color: #B3C8CF;
    list-style-type: none;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.nav img {
    margin: 10px 10px 10px 0;
}

.nav a:last-child {
    margin: 5px 100px 0 0;
}

.ranking {
    background-color: #E5DDC5;
    border-radius: 20px;
    /*四角の角を丸くする*/
}

h1 {
    color: #ffffff;
    margin: 3px 0 0 0;
    font-size: 40px;
}

h2 {
    color: #ffffff;
    font-size: 30px;
}

label {
    font-size: 1.2em;
    margin: 0 30px 0 30px;
}

select[name=select] {
    height: 4.5em;
    width: 10em;
    border: 1px solid #ccc;
    border-radius: 20px;
    /*ジャンル欄の角を丸くする*/
}

input[name=search] {
    height: 4em;
    width: 30em;
    margin: 8px 0 0 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    /*検索欄の角を丸くする*/
}