/* マイページ上部分共通のCSS */
/* ユーザ情報全体 */
.profile{
  display: flex;
  margin-top: 3%;
  margin-left: 15%;
  margin-left: 15%;
}

/* アイコン */
.icon{
  height: 200px;
  width: 200px;
}

/* ユーザ名と実績 */
.userInfo{
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 4%;
  margin-right: 3%;
}

/* ユーザ名 */
.userName{
  font-family: sans-serif;
  font-size: 2rem;
  margin-bottom: 15px;
}

/* 実績 */
.achievements{
  font-size: 1.1rem;
}

/* 自己紹介文 */
.introduction{
  background-color: #FFFFFF;
  height: 150px;
  width: 400px;
  padding: 25px;

  /* 垂直・水平方向に真ん中に表示されるようにする */
  display: flex;
  align-items: center;
  text-align: center;
}

/* タブのスタイル */
/*tabの形状*/
#tab {
  /* タブメニューを横に並べる */
  display: flex;

  /* margin */
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
}

#tab li{
  /* リストの先頭の丸をなくす */
  list-style: none;
}

#tab a{
  /* 垂直・水平方向に真ん中に表示されるようにする */
  display: flex;
  align-items: center;
  justify-content: center;

  /* 背景 */
  background-color: #CFCFCF;

  /* 角を丸く */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  /* 高さと幅 */
  width: 283px;
  height: 50px;

  color: #545454;
  font-weight: bold;
  text-decoration: none;
}

#tab a.selected{
  border-color: #FFFFFF;
  background-color: #FFFFFF;
}

/* 選択されたタブのスタイル */

.area {
  border: 1px solid white;
  /* ボーダー */
  margin: -16px 50px 50px 50px;
  /* マージン */
  padding: 1em;
  /* パディング */
  background-color: white;
  /* 背景色 */
  overflow-y: scroll;
  /* 縦スクロール */
  height: 500px;
  /* 高さ */
  width: 1380px;
  display: none;
  /* 非表示 */
}

.area.selected {
display: block;
/* ブロック要素として表示 */
}


/* selectタブのスタイル */
.select{
  margin: 10px;
  height: 30px;
  /* 高さ */
  width: 100px;
  /* 幅 */
  border: 1px solid #ccc;
  /* ボーダー */
  border-radius: 20px;
  /* 角丸 */
  text-align: center;
  /* 中央揃え */
}