/* 全文表示 */
.flex {
  display: flex; /*横並び*/
}
.flex .image {
  width: 640px; /*画像サイズ指定*/
  margin: 0;
  padding: 0;
  width: 150px;
  height: 170px;
  overflow: hidden;
  position: relative;
}
.flex .right {
  margin: 0 0 0 20px;
  padding: 0;
}
.flex .day {
  margin: 0 0 0 20px;
  font-size: 25px;
}
.flex .name {
  margin: 0 0 0 20px;
  font-size: 25px;
}
.flex .title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 50px;
}